@charset "utf-8";

*{font-family: ""; font-size: 18px; line-height: 32px;}
a{color: #000;}
a:hover{text-decoration: none !important; color: #000;}
ul{margin-bottom: 0}
.font_k{font-family: "gyeonggi"; font-weight: bold;}
.alternate{overflow:hidden;position:absolute;top:0;left:0;width:0;height:0;display:inline-block;}
.wrap{width: 100%;}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{margin-bottom: 0;}

.mt_20{margin-top: 20px}
.mt_30{margin-top: 30px}
.mt_40{margin-top: 40px}
.mt_50{margin-top: 50px}
.mt_100{margin-top: 100px}

.mb_35{margin-bottom:35px}
.mb_40{margin-bottom:40px}

.font_500{font-weight: 500}

.hidden{position:absolute; left:-20000px;}
.mobile{display: none !important;}

/* skip navigation */
.skip_navi{position:absolute;top:-99px;left:0;background:#333;color:#fff;width:100%;padding:10px 0;text-align:center;text-decoration:none;z-index:999;}
.skip_navi:hover, .skip_navi:focus, .skip_navi:active{display:block;top:0;}


#skipNavigation {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 10000;
}

#skipNavigation a {
	display: block;
	position: absolute;
	left: 0;
	top: -10px;
	width: 100%;
	height: 1px;
	margin-bottom: -1px;
	background: #f2f2f2;
	font-size: 0;
	text-align: center;
	font-weight: bold;
	color: #444;
}

#skipNavigation a:hover,
#skipNavigation a:focus,
#skipNavigation a:active {
	position: absolute;
	left: 0;
	top: 0;
	height: 30px;
	padding: 4px;
	font-size: 15px;
	
}


/* header  */
.header{transition:top .3s ease-out;z-index:999;position:absolute;width:100%; height:125px;margin:0; padding-right:90px; border-bottom:1px solid rgba(255,255,255,0.17)}
.header.main{border: none; position:fixed;}

.wrapper.sub .header{background:#fff;}

.header h1{-ms-display: flexbox;display:flex;display: -moz-box;display: -ms-flexbox;display:-webkit-flex;height:125px; margin-bottom: 0px;background: url(../image/main/logo.png)no-repeat center center;}
.header h1 a{margin:0;font-size:0;text-indent:-2000px;width: 306px; height: 100%; overflow:hidden;display:block; }
.header h1 a img{display: block;}

.header .gnb-box{width:100%;}
.header .gnb{width:840px; height:100%; margin:0 auto;-ms-display: flexbox;display:flex;display: -moz-box;display: -ms-flexbox;display:-webkit-flex;   -webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}
/*.header .gnb li{flex:1;-ms-display: flexbox;display:flex;display: -moz-box;display: -ms-flexbox;display:-webkit-flex;;justify-content:center;align-items:center;height:auto;}*/
.header .gnb>li{position:relative;}
.header .gnb>li:first-child{padding-right:105px;}
.header .gnb>li:nth-child(2){padding-right:105px;}
.header .gnb>li:nth-child(3){padding-right:120px;}
.header .gnb>li:nth-child(4){padding-right:80px;}
.header .gnb>li>ul{display:none;width:calc( 100% - 1px );background:transparent;height:330px;padding-top:20px;position:absolute;left:0;top:125px;}
.header .gnb>li:first-child>ul{width:calc( 100% - 2px );}
.header .gnb li ul li{height:auto;width:100%;margin-bottom:0px;}
.header .gnb li ul li a{font-size:17px;color:#555 !important;padding:8px 0;height:auto;padding-right:20px;overflow:hidden;-ms-display: flexbox;display:flex;display: -moz-box;display: -ms-flexbox;display:-webkit-flex;;justify-content:space-between;align-items:center;}
.header .gnb li ul li a span{font-size:16px;color:#000 !important;-ms-display: flexbox;display:flex;display: -moz-box;display: -ms-flexbox;display:-webkit-flex;;justify-content:flex-start;align-items:center;width:calc( 100% - 20px );height:auto;overflow:hidden;}
.header .gnb li ul li a i{-ms-display: flexbox;display:flex;display: -moz-box;display: -ms-flexbox;display:-webkit-flex;;margin-top:5px;width:10px;height:20px;}
.header .gnb li ul li a:hover{color:#555 !important; font-weight: 600}
.header .gnb li ul li a:hover span,
.header .gnb li ul li a:hover i{color:#fff !important;}
.header .gnb li ul li a:after{display:none !important}
.header .gnb>li>a{width:100%;font-weight:500;position:relative;-ms-display: flexbox;display:flex;display: -moz-box;display: -ms-flexbox;display:-webkit-flex;align-items:center;padding:0;height:125px;overflow:hidden;color:#fff;font-size:20px; justify-content: center;}
.fp-viewing-firstPage .header .gnb>li>a{color: #fff;}
.header .gnb>li>a span{vertical-align:middle;font-weight:300;font-size:16px;color:#000;}
.header .gnb>li>a i{vertical-align:middle}
/*.header .gnb>li:hover:after{content:"";width:100%;height:4px;overflow:hidden;display:block;background:#1276a4;position:absolute;left:0;top:125px;}*/
.header .gnb>li a.on,
.header .gnb>li:hover>a{opacity:1;text-decoration:none;}
.header .gnb>li:hover>a>span,
.header .gnb>li:hover>a>i{color:#fff;}
/*.header .gnb>li:hover>ul{display:block;}*/

.header .gnb>li>ul>li>ul{display:none;z-index:90;width:100%;height:348px;left:calc( 100% + 1px );top:0;background:#cfe3ef;position:absolute;}
.header .gnb>li>ul>li:hover>ul{display:block;}
.header .gnb>li>ul>li>ul>li:first-child{margin-top:20px;}
.header .gnb>li>ul>li>ul>li>a:hover{transition:background 0s ease-out;opacity:1;color:#114151 !important;background:#cfe3ef url(/images/site/frt/bg/bg_arr08.png) no-repeat left center;}

.header .side-cont{-ms-display: flexbox;display:flex;display: -moz-box;display: -ms-flexbox;display:-webkit-flex;align-items:center;width:100%;height:100%;box-sizing:border-box; box-sizing: border-box}
body:not(.fp-viewing-firstPage) .header .side-cont{border-bottom: none}
/*.header .tnb{width:325px !important;margin-left:auto;height:auto;overflow:hidden;-ms-display: flexbox;display:flex;display: -moz-box;display: -ms-flexbox;display:-webkit-flex;;justify-content:space-between;align-items:center;}*/
.header .tnb{height:auto;overflow:hidden;}
.header .tnb li.link{width:290px;height:auto;/* overflow:hidden; */-ms-display: flexbox;display:flex;display: -moz-box;display: -ms-flexbox;display:-webkit-flex;;justify-content:flex-start;align-items:center;}
.header .tnb li.link a{font-size:0;text-indent:-2000px;}
.header .tnb li.link a.tnb-logo01{width:136px;height:28px;overflow:hidden;background:url(/images/site/frt/main/etc_tnb_logo01.png);}
.header .tnb li.link a.tnb-logo02{margin-left:20px;width:133px;height:26px;overflow:hidden;background:url(/images/site/frt/main/etc_tnb_logo02.png);}
.header .tnb li.etc{width:auto;height:auto;/* overflow:hidden; */-ms-display: flexbox;display:flex;display: -moz-box;display: -ms-flexbox;display:-webkit-flex;;justify-content:space-between;align-items:center;}



.header .gnb .btn-eng{display:none}
.header .gnb .search-open{display:none}


.header .tnb li.etc a{width:50px;height:26px; font-size:14px;color:#fff;-ms-display: flexbox;display:flex;display: -moz-box;display: -ms-flexbox;display:-webkit-flex;justify-content:center;align-items:center; opacity: 0.28;}
.header .tnb li.etc a.on{position:relative; opacity: 1;}
.header .tnb li.etc a.on::before{position:absolute; top:-2px; display: block; width:3px; height:3px; border-radius: 100%; background:#fff; content: ""}
.header.active .tnb li.etc a.on::before{background: #000; }
.header .tnb li.etc a.search-open{font-size: 0; background:url(../image/common/icon/icon_search_w.png)no-repeat center center;}
.header .tnb li.etc a.total-menu{height:43px; font-size: 0; /*background: url(../image/common/icon/icon_sitemap_w.png)no-repeat center center;*/}
.header .tnb li.etc a.total-menu{position:relative; margin-left: 20px; transform: translate(0, 12px); opacity: 1;}
.header .tnb li.etc a.total-menu span{position:absolute; left:0; width:35px; height:1px; background:#fff;}
.header .tnb li.etc a.total-menu span:first-child{top:0;}
.header .tnb li.etc a.total-menu span:nth-child(2){top:9px;width:28px}
.header .tnb li.etc a.total-menu span:last-child{top:19px;}

/*body:not(.fp-viewing-firstPage) .header .tnb li.etc a{color: #000}
body:not(.fp-viewing-firstPage) .header .tnb li.etc a.search-open{font-size:0;text-indent:-2000px;background:url(../image/common/icon/icon_search_b.png)no-repeat center center;}
body:not(.fp-viewing-firstPage) .header .tnb li.etc a.total-menu{font-size:0;text-indent:-2000px;background:url(../image/common/icon/icon_sitemap_b.png)no-repeat center center;}*/



.header.active{top:0px;background:#fff;}
.header.active h1 a{background:url(../image/main/logo.png) no-repeat center center; }
.header.active .gnb>li>a{color:#000; font-weight:600;}
.header.active .gnb>li:hover>a{color:#3366d1; font-weight:600;}

.header.active .tnb li.link a.tnb-logo01{background:url(/images/site/frt/main/etc_tnb_logo01_on.png)}
.header.active .tnb li.link a.tnb-logo02{background:url(/images/site/frt/main/etc_tnb_logo02_on.png)}
.header.active .tnb li.etc a{border-color:#d3d3d3;color:#000; opacity:0.66}
.header.active .tnb li.etc a.search-open{background:url(../image/common/icon/icon_search_b.png)no-repeat center center;}
 
.header.active .tnb li.etc a.total-menu span{background: #000}
.header.active .gnb>li>ul{display:block;}
.header.active:before{position:absolute;left:0;top:123px;display:block;content:"";width:100%;height:350px;background:#f6f6f8;  /*background-image: url(../image/common/bg_menu.png); background-repeat: no-repeat; background-size: contain; background-position: left 0;*/}

.sub .header{position:relative;top:0px;background:#fff;box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);}
.sub .header h1 a{background:url(/images/site/frt/main/etc_logo01.png) no-repeat;background-size:190px 33px;}
.sub .header .gnb>li>a{color:#000;}
.sub .header .tnb li.link a.tnb-logo01{background:url(/images/site/frt/main/etc_tnb_logo01_on.png)}
.sub .header .tnb li.link a.tnb-logo02{background:url(/images/site/frt/main/etc_tnb_logo02_on.png)}
.sub .header .tnb li.etc a{border-color:#d3d3d3;color:#000;}
.sub .header .tnb li.etc a.search-open{background:url(/images/site/frt/ico/ico_search01_on.png);background-size:53px 53px;}
.sub .header .tnb li.etc a.total-menu{background:url(/images/site/frt/ico/ico_total01_on.png);background-size:53px 53px;}

/* side-banner */
div.side-banner{display: none;}
.header.active div.side-banner{position:absolute;top:123px;left:0px;display: block; width: 22%;height: 350px; background-image: url(../image/common/bg_menu.png); background-repeat: no-repeat; background-size: contain; background-position: left bottom;}




/* sitemap */
.site_map_wrap {overflow-y:scroll;display:none;position:fixed;top:0;left:0;width:100%;height:100%;padding-top:0;background:#fff;z-index:1000;}
body .site_map_wrap > div{position:relative;max-width:1400px;margin:0 auto 50px;}
body .site_map_wrap > div div:nth-child(5) li{height:200px}
body .site_map_wrap .site_head{padding:20px 0;border-bottom: 1px solid #d7d7d7;}
.site_map_wrap h1{margin: 5px 0 0 20px;    -ms-display: flexbox;    display: flex;    display: -moz-box;    display: -ms-flexbox;    display: -webkit-flex;    width: 190px;    height: 33px;}
.site_map_wrap h1 a{margin: 0;    font-size: 0;    text-indent: -2000px;    width: 165px;    height: 32px;    overflow: hidden;    display: block;    background: url(/images/site/frt/main/etc_logo.png) no-repeat;    background-size: contain;    background: url(/images/site/frt/main/etc_logo01.png) no-repeat;    background-size: contain;}
.site_map_wrap .mo-total-menu{position:absolute;top:30px;right:20px;width:45px;height:45px;border:1px solid #333}
.site_map {width: 1400px; margin: 0 auto; }
.site_map {border-bottom: 1px solid #d7d7d7;}
.site_map ul {overflow: hidden; margin-bottom: 0;}
.site_map ul li {float: left; height: 150px; padding: 20px 0;}
.site_map ul li a {color: #000; /* background-color: rgba(255,255,255,1) background:#fff;*/}
.site_map ul li:first-child {width:220px;padding:20px;margin-left:0;margin-right: 20px; background-color: #f9f9f9;text-align:center;}
.site_map ul li:first-child .site_tit a{color: #000; font-size: 18px; font-weight: 500;background-color: #f9f9f9; }
.site_map.gather ul{background-color: #f9f9f9;}
.site_map.gather ul li{height:70px;line-height:70px;}
.site_map.gather ul li:first-child{width:auto}
.site_map.gather ul li .site_tit a{font-weight:500}
.site_map.gather ul li{text-align:center}
.site_map ul li  .site_tit a{margin-bottom: 15px; color: #000; font-size: 16px; font-weight: 400;}
.site_map ul li  .site_txt {line-height: 1.8em;}
.site_map ul li  .site_txt p{margin-bottom: 0;}

.site_map_wrap {display:none;padding-top: 30px;  position:absolute;top:0;left:0;width:100%;height:100%;background:#fff;z-index:1000;}
.site_map_wrap h1{margin: 5px 0 0 20px;    -ms-display: flexbox;    display: flex;    display: -moz-box;    display: -ms-flexbox;    display: -webkit-flex;    width: 190px;    height: 33px;}
/* .site_map_wrap h1 a{margin: 0;    font-size: 0;    text-indent: -2000px;    width: 165px;    height: 32px;    overflow: hidden;    display: block;    background: url(/images/site/frt/main/etc_logo.png) no-repeat;    background-size: contain;    background: url(../image/etc/etc_logo01.png) no-repeat;    background-size: contain;} */
.site_map_wrap .mo-total-menu{position:absolute;top:30px;right:20px;width:45px;height:45px;border:1px solid #555}
.site_map {width: 1400px; margin: 0 auto; }
.site_map {border-bottom: 1px solid #d7d7d7;background:#fff;}
.site_map ul {overflow: hidden;}
.site_map ul li {float: left; height: auto; margin:0 20px; padding: 20px 4.8%;}
.site_map ul li a {color: #000;}
.site_map ul li:first-child {height: 190px; background-color: #f9f9f9;}
.site_map ul li:first-child .site_tit {color: #000; font-size: 18px; font-weight: 500; }
.site_map ul li  .site_tit {width:160px;margin-bottom: 15px; color: #000; font-size: 16px; font-weight: 400; }
.site_map ul li  .site_txt {line-height: 1.8em;}
.site_map.gather ul li  .site_tit{width:180px}


/* pagination */
.paination{justify-content:center;height:45px;box-sizing:border-box;}
.paination a{-ms-display: flexbox;display:flex;display: -moz-box;display: -ms-flexbox;display:-webkit-flex;align-items:center;justify-content:center;width:43px;height:100%; color:#000; font-size:14px;border:1px solid #dddddd;box-sizing:border-box;}
.paination a + a{border-left:none;}
.paination a.on{ position:relative; font-size:15px;color:#000; font-weight: 600}
.paination a.on::before{ display:block; position:absolute; bottom:-1px; width:calc(100% + 2px); height:3px; background:#0d6fb8;   content:""}
.paination a.first{background:url('../image/common/icon/icon_clampFirst.png') no-repeat center center}
.paination a.prev{background:url('../image/common/icon/icon_clampPrev.png') no-repeat center center}
.paination a.next{background:url('../image/common/icon/icon_clampNext.png') no-repeat center center}
.paination a.last{background:url('../image/common/icon/icon_clampLast.png') no-repeat center center}


/* view page */
.board-view-header{margin-top:50px;border-top:1px solid #000;border-bottom:1px solid #e4e4e4;padding:40px 0 45px 0;width:100%;height:auto;overflow:hidden;}
.board-view-header h5{line-height:1.3em;font-size:40px;text-align:center;font-weight:500;width:100%;height:auto;}
.board-view-header p{width:auto;height:auto;margin-top:10px;font-size:18px;color:#333;text-align:center;}
.board-view-header p span{margin-right: 8px; font-weight:500}
.board-view-header p span:nth-child(2){position:relative; margin-left: 20px; margin-right: 8px;}
.board-view-header p span:nth-child(2)::before{display: block; position:absolute; top: 5px; left:-10px; width:1px; height:18px; background:#000; content: ""}


.board-view-file{-ms-display: flexbox;display:flex;display: -moz-box;display: -ms-flexbox;display:-webkit-flex;;justify-content:flex-start;align-items:center;width:100%;height:60px;overflow:hidden; padding-left:20px;}
.board-view-file a{font-size:16px;color:#000;margin-left:20px;background:url(../image/common/icon/icon_file.png) no-repeat left center;padding-left:30px;float:left;}
.board-view-cont{font-size:17px;color:#333;line-height:1.5em;padding:50px 0 50px 0;border-top:1px solid #e4e4e4;width:100%;height:auto;overflow:hidden;}


.board-view-cont .pic-box{width:100%;height:auto;padding-bottom:30px;overflow:hidden;text-align:center;}
.board-view-cont p{font-size: 18px; font-weight:normal; white-space: pre-line}

.board-view-prev{width:100%;height:auto;overflow:hidden;border-top:1px solid #e4e4e4;}
.board-view-prev table{width:100%;}
.board-view-prev table th{ height:65px; border-bottom:1px solid #e4e4e4; vertical-align: middle;}
.board-view-prev table th .box{font-size:14px;color:#555;width:46px;height:49px;   margin-left:40px !important; overflow:hidden; background:#edeef3; border-radius:3px;-ms-display: flexbox;display:flex;display: -moz-box;display: -ms-flexbox;display:-webkit-flex;;justify-content:center;align-items:center;margin:0 auto;    font-weight: 400 !important;}
.board-view-prev table td{font-size:16px;color:#333;font-weight:400;height:65px;border-bottom:1px solid #e4e4e4;}
.board-view-prev table td.al{text-align:left;vertical-align: middle;}
.board-view-prev table td.ar{text-align:right;padding-right:20px;}
.board-view-prev table td a{display:block;max-width:100%;height:auto;overflow:hidden;text-overflow:ellipsis; white-space:nowrap;word-wrap:normal;font-size:18px;color:#333333;font-weight:400;}
.board-view-btn{margin:45px 0 0px 0;-ms-display: flexbox;display:flex;display: -moz-box;display: -ms-flexbox;display:-webkit-flex;;justify-content:flex-end;align-items:center;width:100%;height:auto;overflow:hidden;}
.board-view-btn.ac{justify-content:center;}
.board-view-btn a{margin-left:5px;-ms-display: flexbox;display:flex;display: -moz-box;display: -ms-flexbox;display:-webkit-flex;;justify-content:center;align-items:center;width:135px;height:50px;overflow:hidden;font-size:18px;color:#fff;background: #555555}
.board-view-btn a.gray{background:#aeb8c4;border-color:#aeb8c4;color:#fff;}
.board-view-btn a.blue{background:#0e83c1;border-color:#0e83c1;color:#fff;}


/* radio */

.checks {position: relative;} 
.checks input[type="radio"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; } 
.checks input[type="radio"] + label { display: inline-block; position: relative; padding-left: 32px; margin-right: 30px; margin-bottom: 0; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;  font-size: 18px; } 
.checks input[type="radio"] + label:before { content: ''; position: absolute; left: 0; top: 5px; width: 23px; height: 23px; text-align: center; background: #fff; border: 1px solid #cacece; border-radius: 100%; } 
/*.checks input[type="radio"] + label:active:before, .checks input[type="radio"]:checked + label:active:before { box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1); } */
.checks input[type="radio"]:checked + label:before { background: #fff; border-color: #dbdfe2; } 
.checks input[type="radio"]:checked + label:after { content: ''; position: absolute; top: 10px; left: 5px; width: 13px; height: 13px; background: #0d6fb8; border-radius: 100%; box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3); }


/* table */
.table_wrap.ver table tbody tr:first-child th, .table_wrap.ver table tbody tr:first-child td{border-top:1px solid #000;}
.table_wrap.ver table tbody tr th{padding:15px 0; background:#f8f9fa; font-size:17px; font-weight:300; color:#555555; border-left:none; border-bottom:1px solid #e0e0e0; text-align: center; border-right:1px solid #e8e8e8}
.table_wrap.ver table tbody tr td{padding:0px 12px 0 30px; font-size:18px; color:#000; border-bottom:1px solid #e0e0e0; vertical-align: middle;}

.table_wrap.hor table thead tr th{padding:15px 0; background:#f8f9fa; font-size:17px; font-weight:300; color:#555555; border-left:none; border-bottom:1px solid #b7b7b7; border-top:1px solid #000; text-align: center; border-right: 1px solid #e8e8e8}
.table_wrap.hor table thead tr th:last-child{border-right:none;}
.table_wrap.hor table tbody tr td{padding:15px 30px; font-size:18px; color:#000; border-right:1px solid #e8e8e8; border-bottom:1px solid #e0e0e0; vertical-align: middle;}
.table_wrap.hor table tbody tr td a{color:#000;}
.table_wrap.hor table tbody tr td:last-child{border-right:none;}
.table_wrap.hor.center table tbody tr td{text-align: center;}









/*=
==========================================================================
=====================================responsive=====================================
==========================================================================
=*/
@media(max-width:1400px){
    .header .gnb{width: auto;     justify-content: space-around;}
    .header .gnb>li:first-child, .header .gnb>li:nth-child(2), .header .gnb>li:nth-child(3), .header .gnb>li:nth-child(4){padding-right:0}
    .header .gnb>li>ul{width:160px !important;}
    
}


@media(max-width:1200px){
    .header .gnb{display: none}    
    .header .tnb{width:100%;}
    .header.active:before, .header.active div.side-banner{display: none;}
    
}


@media(max-width:720px){
    .mobile{display: block !important;}
    .header .tnb{width:auto;}
    
}



