@charset "UTF-8";
.icon { display: block; width: 1.5rem; height: 1.3rem; background-repeat: no-repeat; }

.icon.arrow-fill { background-image: url("data:image/svg+xml;charset=utf8,  %3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='6'%3E%3Cpath fill-rule='evenodd' fill='%23ff0077' d='m4.5-.001 4.5 6H0l4.5-6Z'/%3E%3C/svg%3E"); }

.icon.arrow-fill__bottom { background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8'%3E%3Cpath fill-rule='evenodd' fill='rgb(0, 0, 0)' d='m5.997 8.005-6-7.994h11.999L5.997 8.005Z'/%3E%3C/svg%3E"); }

.icon.arrow-fill__right { background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='15'%3E%3Cpath fill-rule='evenodd' fill='rgb(0, 0, 0)' d='M10 7.498 0-.001v14.999l10-7.5Z'/%3E%3C/svg%3E"); }

.icon.arrow-fill__white { width: 2.1rem; width: 1.5rem; background-image: url("data:image/svg+xml;charset=utf8, "); background-size: 100%; background-repeat: no-repeat; background-position: center; }

.icon.arrow-fill__gray { width: 2.1rem; width: 1.5rem; background-image: url("data:image/svg+xml;charset=utf8, "); background-size: 100%; background-repeat: no-repeat; background-position: center; }

.icon.arrow-fill__dgray { width: 1.5rem; width: 1.3rem; background-image: url("data:image/svg+xml;charset=utf8, "); background-size: 100%; background-repeat: no-repeat; background-position: center; }

.icon.arrow-round { background-image: url("data:image/svg+xml;charset=utf8, "); }

.icon.arrow-back { background-image: url("data:image/svg+xml;charset=utf8, "); }

.icon.arrow-top { background-image: url("data:image/svg+xml;charset=utf8, "); }

.icon.arrow-left { background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='14.5' height='21.5'%3E%3Cpath fill-rule='evenodd' stroke='rgb(0, 0, 0)' fill='rgb(255, 255, 255)' d='M13.509 1.361 1.777 10.396l11.586 9.233-.305.876-11.995-9.559-.261.201-.311-.866.354-.273.097-.278.129.104L13.198.495l.311.866Z'/%3E%3C/svg%3E"); }

.icon.arrow-first { background-image: url("data:image/svg+xml;charset=utf8, "); }

.icon.arrow-last { background-image: url("data:image/svg+xml;charset=utf8, "); -webkit-transform: rotate(180deg); transform: rotate(180deg); }

.icon.arrow-prev { background-image: url("data:image/svg+xml;charset=utf8, "); background-size: cover; }

.icon.arrow-next { background-image: url("data:image/svg+xml;charset=utf8, "); background-size: cover; -webkit-transform: rotate(180deg); transform: rotate(180deg); }

.icon.arrow-right { background-image: url("data:image/svg+xml;charset=utf8, "); }

.icon.arrow-more { background-image: url("data:image/svg+xml;charset=utf8, "); }

.icon.close { width: 13px; height: 13px; background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13'%3E%3Cpath fill-rule='evenodd' fill='%23000' d='m12.864 12.156-.707.707L6.5 7.206.843 12.863l-.707-.707 5.657-5.657L.136.841.843.134 6.5 5.792 12.157.134l.707.707-5.657 5.658 5.657 5.657Z'/%3E%3C/svg%3E"); }

.icon.close_big { background-image: url("data:image/svg+xml;charset=utf8, %0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='27'%3E%3Cpath fill-rule='evenodd' fill='%23000' d='m25.531 25.047-.983.983L13 14.482 1.451 26.03l-.982-.983 11.548-11.548L.469 1.951l.982-.983L13 12.516 24.548.968l.983.983-11.548 11.548 11.548 11.548Z'/%3E%3C/svg%3E"); }

.sitemap-close { background-image: url("data:image/svg+xml;charset=utf8, "); }

.color-red { color: #e63c2e !important; }

.color-deepgray { color: #555555 !important; }

.color-bgGray { color: #f7f9fb; }

.bgGray { background-color: #f7f9fb; }

.color-black { color: #000 !important; }

.color-fontgray { color: #747478; }

.color-lightgray { color: #dddddd; }

.color-gray { color: #78838c; }

.color-white { color: #fff !important; }

.color-green { color: #3f8501 !important; }

.color-lightgreen { color: #00b050 !important; }

.color-textgreen { color: #4e811f !important; }

.color-blue { color: #004690 !important; }

.color-skyblue { color: #00a2ff !important; }

.color-cloudyBlue { color: rgba(0, 70, 144, 0.4) !important; }

.font-family__sn { font-family: "SeoulNamsan"; }

.font-weight__l { font-weight: 200; }

.font-weight__r { font-weight: 300; }

.font-weight__m { font-weight: 500 !important; }

.font-weight__b { font-weight: 600 !important; }

.ml_5 { margin-left: .5rem; }

.mr_5 { margin-right: .5rem; }

.mt_5 { margin-top: .5rem; }

.mt_10 { margin-top: 1rem; }

.ml_10 { margin-left: 1rem !important; }

.mr_10 { margin-right: 1rem !important; }

.mb_10 { margin-bottom: 1rem; }

.mb_15 { margin-bottom: 1.5rem; }

.mt_15 { margin-top: 1.5rem; }

.mr_15 { margin-right: 1.5rem !important; }

.ml_15 { margin-left: 1.5rem !important; }

.mt_20 { margin-top: 2rem; }

.mb_20 { margin-bottom: 2rem; }

.ml_20 { margin-left: 2rem !important; }

.mt_25 { margin-top: 2.5rem; }

.mt_30 { margin-top: 3rem !important; }

.ml_30 { margin-left: 3rem !important; }

.mb_30 { margin-bottom: 3rem; }

.mt_35 { margin-top: 3.5rem; }

.mt_40 { margin-top: 4rem !important; }

.ml_40 { margin-left: 4rem; }

.mt_45 { margin-top: 4.5rem; }

.ml_45 { margin-left: 4.5rem; }

.mt_50 { margin-top: 5rem !important; }

.mb_40 { margin-bottom: 4rem; }

.mb_50 { margin-bottom: 5rem !important; }

.mt_60 { margin-top: 6rem; }

.mt_80 { margin-top: 8rem; }

.mt_90 { margin-top: 9rem !important; }

.mt_100 { margin-top: 10rem; }

.mt_120 { margin-top: 12rem; }

.my_4 { margin-top: 4rem; margin-bottom: 4rem; }

.mx_2 { margin-left: 2rem; margin-right: 2rem; }

.pl_10 { padding-left: 10px; }

.py_1 { padding-top: 1rem; padding-bottom: 1rem; }

.px_2 { padding-left: 2rem; padding-right: 2rem; }

.py_2 { padding-top: 2rem; padding-bottom: 2rem; }

.py_4 { padding-top: 4rem; padding-bottom: 4rem; }

.pb_100 { padding-bottom: 10rem; }

.font_30 { font-size: 3rem; line-height: 3.2rem; }

/* 공통 */
html { font-size: 62.5%; font-weight: 300; letter-spacing: -0.25px; }

@media (max-height: 936px) { html { font-size: 52.5%; } }

@media (max-width: 720px) { html { font-size: 57.81%; } }

@media (max-width: 640px) { html { font-size: calc(62.5% / 1.3); } }

@media (max-width: 540px) { html { font-size: calc(62.5% / 1.7); } }

@media (max-width: 375px) { html { font-size: calc(62.5% / 2); } }

.font-noto { font-family: "notokr", sans-serif; }

.font_j { font-family: 'JSDongkang-bold', 'JSDongkang-Regular'; }

p { font-size: 1.8rem; color: #000000; line-height: 3.2rem; }

p.font-s { font-size: 1.8rem; line-height: 3.4rem; }

.font-n { font-size: 2rem !important; }

.font-l { font-size: 2.6rem !important; }

.font-m { font-size: 2.4rem !important; }

.font-s { font-size: 1.8rem !important; line-height: 3.4rem; }

.font-xs { font-size: 1.6rem !important; }

.wrap { position: relative; min-height: 100%; overflow-x: hidden; }

h1 { font-size: 6.4rem; }

h2 { font-size: 5.4rem; }

h3 { font-size: 3.6rem; }

h4 { font-size: 2.6rem; font-weight: 600; }

h5 { font-size: 1.8rem; }

/* 부트스트랩 초기화 */
body { color: #000000; }

dl, ol, ul { margin-bottom: 0; }

a { color: #000; }

a:hover { color: #000; text-decoration: none; }

button { background: transparent; }

p { margin-bottom: 0; }

.skipNavigation { position: absolute; left: -9999px; top: -9999px; width: 100%; z-index: 10000; }

.skipNavigation a { display: block; position: absolute; left: 0; top: -10px; width: 100%; height: 1px; margin-bottom: -1px; background: #f2f2f2; font-size: 0; text-align: center; font-weight: bold; color: #444; }

.skipNavigation a:hover, .skipNavigation a:focus, .skipNavigation a:active { position: absolute; left: 0; top: 0; height: 30px; padding: 4px; font-size: 15px; }

.alternate, .hidden { position: absolute; top: -9999px; left: -9999px; width: 1px; height: 1px; text-indent: -9999px; }

label { margin: 0; }

.through:nth-child(1) { width: 20px; }

.through:nth-child(2) { width: 40px; }

.through:nth-child(3) { width: 60px; }

/* header */
header { position: absolute; top: 0; left: 0; width: 100%; background: transparent; overflow: hidden; }

header.main { position: fixed; width: 100%; z-index: 1; -webkit-box-shadow: 0.3rem 0.3rem 1.9rem rgba(0, 0, 0, 0.1); box-shadow: 0.3rem 0.3rem 1.9rem rgba(0, 0, 0, 0.1); }

header.main .logo a { background: url(../image/common/logo.png) no-repeat center; background-size: cover; }

header.main .gnb_wrap { background: #ffffff; }

header.main .gnb_wrap .inner { width: 100%; padding: 0 3.5rem; }

header.main .gnb ul li a { color: #000000; }

header.main .snsSitemap { -webkit-box-flex: 0; -ms-flex: none; flex: none; }

header.main .sns ul { height: 100%; }

header.main .sns ul li a { display: inline-block; vertical-align: middle; padding: 0 1.5rem; -webkit-box-sizing: unset; box-sizing: unset; }

header.main .sns-blog a { width: 2rem; height: 2rem; background: url(../image/common/icon-blog.png) no-repeat center; background-size: 2rem; }

header.main .sns-facebook a { width: 2rem; height: 2rem; background: url(../image/common/icon-facebook.png) no-repeat center; background-size: 2rem; }

header.main .sns-insta a { width: 2rem; height: 2rem; background: url(../image/common/icon-insta.png) no-repeat center; background-size: 2rem; }

header.main .sitemap.mobile { -webkit-box-flex: 0; -ms-flex: none; flex: none; }

header.main .sitemap button span { background: #000000; }

header .gnb-menu > li { position: relative; }

header .gnb-menu > li.on::before { position: absolute; bottom: 0; left: 0; width: 100%; height: 2px; background: #3f8501; content: ""; }

header .gnb-menu > li > a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; height: 10rem; padding: 0 5rem; font-size: 2.2rem; }

header .gnb-menu > li > a + .depth2 { position: absolute; top: 10rem; width: 100%; }

header .gnb-menu .depth2 ul { display: -webkit-box; display: flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; position: relative; padding-top: 3rem; }

header .gnb-menu .depth2 ul::before { position: absolute; top: 3rem; width: 1px; height: 32rem; background: #ededed; content: ""; }

header .gnb-menu .depth2 ul li { height: 4.5rem; }

header .gnb-menu .depth2 ul li a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 100%; height: 100%; font-size: 1.8rem; font-weight: 300; color: #000000; }

header .gnb-menu .depth2 ul li a:hover { color: #3f8501; }

header.open { background: #ffffff; -webkit-box-shadow: 0.3rem 0.3rem 1.5rem rgba(0, 0, 0, 0.13); box-shadow: 0.3rem 0.3rem 1.5rem rgba(0, 0, 0, 0.13); }

header.open .logo a { background: url(../image/common/logo.png) !important; background-size: cover !important; }

header.open .gnb_wrap { border-bottom: 1px solid #ededed; }

header.open .gnb-menu > li > a { color: #000000 !important; text-shadow: none !important; }

header.open .sns-blog a { background: url(../image/common/icon-blog.png) no-repeat center/2rem !important; }

header.open .sns-facebook a { background: url(../image/common/icon-facebook.png) no-repeat center/2rem !important; }

header.open .sns-insta a { background: url(../image/common/icon-insta.png) no-repeat center/2rem !important; }

header.open .sitemap button span { background: #000000 !important; }

header.open .button-user .button-eduDown:hover { color: #ffffff !important; }

header .logo { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

header .logo a { display: inline-block; width: 12rem; height: 7rem; background: url(../image/common/logo-white.png) no-repeat center; background-size: cover; }

header .gnb { display: -webkit-box; display: flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 100%; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; -webkit-transition: all .2s; transition: all .2s; }

header .gnb_wrap { height: 10rem; border-bottom: 1px solid rgba(255, 255, 255, 0.4); }

header .gnb_wrap .inner { width: 140rem; height: 100%; margin: 0 auto; }

header .gnb ul { position: absolute; left: 50%; width: auto; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: 0 auto; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

header .gnb ul li { font-size: 2.4rem; text-align: center; }

header .gnb ul li a { font-weight: 500; color: #ffffff; }

header .gnb .button-close-wrap { display: none; }

header .sns ul { height: 100%; }

header .sns ul li a { display: inline-block; vertical-align: middle; padding: 0 1.5rem; -webkit-box-sizing: unset; box-sizing: unset; }

header .sns-blog a { width: 2.2rem; height: 1.8rem; background: url(../image/common/icon-blog__color-white.png) no-repeat center; background-size: 2.2rem 1.8rem; }

header .sns-facebook a { width: 1rem; height: 1.8rem; background: url(../image/common/icon-facebook__color-white.png) no-repeat center; background-size: 1rem 1.8rem; }

header .sns-insta a { width: 1.9rem; height: 1.9rem; background: url(../image/common/icon-insta__color-white.png) no-repeat center; background-size: 1.9rem; }

header .sitemap button { width: 3.4rem; height: 2.8rem; padding: 0; background: none; margin-left: 2.2rem; }

header .sitemap button span { width: 100%; height: .4rem; background: #ffffff; }

header .sitemap button span:last-child { width: 2rem; margin-left: auto; }

header .sitemap-header .logo { display: none; }

header .sitemap-menu { display: none; }

header .sitemap.open { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #ffffff; z-index: 2; -webkit-box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.14); box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.14); }

header .sitemap.open > .sitemap-button { display: none; }

header .sitemap.open .sitemap-menu { display: -webkit-box; display: flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: absolute; top: 0; left: 0%; width: 100%; height: 100%; }

header .sitemap.open .sitemap-menu .sitemap-button { display: -webkit-box; display: flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: absolute; top: 0; right: 0; height: 10rem; padding: 0 3.5rem; }

header .sitemap.open .sitemap-menu .sitemap-button button { position: relative; margin-left: auto; z-index: 3; }

header .sitemap.open .sitemap-menu .sitemap-button button span { position: absolute; top: 50%; background: #000000; }

header .sitemap.open .sitemap-menu .sitemap-button button span:first-child { -webkit-transform: rotate(45deg); transform: rotate(45deg); }

header .sitemap.open .sitemap-menu .sitemap-button button span:nth-child(2) { display: none; }

header .sitemap.open .sitemap-menu .sitemap-button button span:last-child { width: 100%; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

header .sitemap.open .sitemap-menu__inner { display: -webkit-box; display: flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: relative; max-width: 140rem; width: 100%; height: 100%; margin: 0 auto; }

header .sitemap.open .sitemap-menu__inner > ul { display: -webkit-box; display: flex; display: -ms-flexbox; display: flex; width: 100%; height: auto; }

header .sitemap.open .sitemap-menu__inner > ul > li { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; padding: 0 4rem; }

header .sitemap.open .sitemap-menu__inner > ul > li > a { display: inline-block; margin-bottom: 3rem; font-size: 2.4rem; line-height: 100%; }

header .sitemap.open .sitemap-menu__inner > ul > li > a::after { position: absolute; left: 0; bottom: -.5rem; width: 0; visibility: hidden; background: rgba(63, 133, 1, 0.25); -webkit-transition: all .2s; transition: all .2s; content: ""; }

header .sitemap.open .sitemap-menu__inner > ul > li.active > a { position: relative; }

header .sitemap.open .sitemap-menu__inner > ul > li.active > a::after { width: 100%; height: 1.7rem; visibility: visible; }

header .sitemap.open .sitemap-menu__inner > ul > li + li::before { content: ""; position: absolute; top: 0; margin-left: -4rem; height: 100%; width: 1px; background-color: #DFE0E8; }

header .sitemap.open .sitemap-menu .depth2 ul { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

header .sitemap.open .sitemap-menu .depth2 ul li a { font-size: 1.8rem; color: #5E6074; line-height: 4.5rem; }

header .sitemap.open .sitemap-menu .depth2 ul li a:hover { color: #3f8501; }

header .button-user { display: -webkit-box; display: flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-left: auto; padding: 0 1.5rem 0 2rem; }

header .button-user .button-wrap { display: -webkit-box; display: flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

header .button-user .button-eduDown { width: auto; padding: 0 3.5rem 0 1rem; font-size: 1.4rem; color: #ffffff; text-align: left; border: 1px solid #000000; background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='14'%3E%3Cpath fill-rule='evenodd' fill='rgb(255, 255, 255)' d='M0 14V8h1v5h13V8h1v6H0Zm8.353-5.354-.707.708-.146-.147-.147.147-.707-.708.147-.146-3.147-3.146.708-.708L7 7.293V0h1v7.293l2.646-2.647.708.708L8.207 8.5l.146.146Z'/%3E%3C/svg%3E"); background-color: #3f8501; background-repeat: no-repeat; background-position: right 1rem center; background-size: 1.5rem 1.4rem; border-color: #3f8501; -webkit-transition: all .2s; transition: all .2s; }

header .button-user .button-eduDown:hover { color: #ffffff !important; }

header .button-user .button-kakao { width: 9.2rem; height: 3.5rem; margin-left: 2rem; background: url(../image/common/button-kakao.png) no-repeat center; background-size: 100%; }

.fp-viewing-firstPage .header.main .gnb_wrap { border-bottom: 1px solid rgba(255, 255, 255, 0.4); }

.fp-viewing-firstPage .header.main.open .gnb_wrap { border-bottom: 1px solid #ededed; }

.fp-viewing-firstPage .header.main.open .button-user .button-eduDown { color: #000000; border-color: #000000; background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='14'%3E%3Cpath fill-rule='evenodd' fill='rgb(0, 0, 0)' d='M0 14V8h1v5h13V8h1v6H0Zm8.353-5.354-.707.708-.146-.147-.147.147-.707-.708.147-.146-3.147-3.146.708-.708L7 7.293V0h1v7.293l2.646-2.647.708.708L8.207 8.5l.146.146Z'/%3E%3C/svg%3E"); }

.fp-viewing-firstPage .header .button-user .button-eduDown { color: #ffffff; border-color: #ffffff; background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='14'%3E%3Cpath fill-rule='evenodd' fill='rgb(255, 255, 255)' d='M0 14V8h1v5h13V8h1v6H0Zm8.353-5.354-.707.708-.146-.147-.147.147-.707-.708.147-.146-3.147-3.146.708-.708L7 7.293V0h1v7.293l2.646-2.647.708.708L8.207 8.5l.146.146Z'/%3E%3C/svg%3E"); background-color: transparent; }

.fp-viewing-firstPage .header .button-user .button-eduDown:hover { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='14'%3E%3Cpath fill-rule='evenodd' fill='rgb(255, 255, 255)' d='M0 14V8h1v5h13V8h1v6H0Zm8.353-5.354-.707.708-.146-.147-.147.147-.707-.708.147-.146-3.147-3.146.708-.708L7 7.293V0h1v7.293l2.646-2.647.708.708L8.207 8.5l.146.146Z'/%3E%3C/svg%3E") !important; background-color: #3f8501; border-color: #3f8501 !important; color: #ffffff; }

.fp-viewing-firstPage header .logo a { background: url(../image/common/logo-white.png) no-repeat center; background-size: cover; }

.fp-viewing-firstPage header .gnb_wrap { background: transparent; border-bottom: 1px solid rgba(255, 255, 255, 0.4); }

.fp-viewing-firstPage header .gnb > ul > li > a { color: #ffffff; text-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.35); }

.fp-viewing-firstPage header .sns-blog a { width: 2rem; height: 2rem; background: url(../image/common/icon-blog__color-white.png) no-repeat center; background-size: 2rem; }

.fp-viewing-firstPage header .sns-facebook a { width: 2rem; height: 2rem; background: url(../image/common/icon-facebook__color-white.png) no-repeat center; background-size: 2rem; }

.fp-viewing-firstPage header .sns-insta a { width: 2rem; height: 2rem; background: url(../image/common/icon-insta__color-white.png) no-repeat center; background-size: 2rem; }

.fp-viewing-firstPage header .sitemap button span { background: #ffffff; }

body.overflow-hidden #fp-nav { display: none; }

/*=================================================================================================
============================================ responsive ========================================
================================================================================================*/
@media screen and (max-width: 1500px) { header .gnb > ul > li > a { padding: 0 4rem; } }

@media screen and (max-width: 1400px) { header .gnb > ul { position: relative; width: 90%; }
  header .gnb > ul > li { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }
  header .gnb > ul > li > a { padding: 0rem; } }

@media screen and (max-width: 1024px) { header .gnb { position: fixed; top: 0; right: -100%; width: 100%; height: 100%; background: #ffffff; }
  header .gnb_wrap { padding: 0 3rem; }
  header .gnb_wrap .inner { padding: 0; }
  header.main .gnb_wrap .inner { padding: 0; }
  #fp-nav { display: none !important; } }

@media screen and (max-width: 720px) { header { overflow: visible; }
  header.main { height: 10rem !important; }
  header .sitemap.open { -ms-touch-action: none; touch-action: none; }
  header .sitemap.open .sitemap-header { display: -webkit-box; display: flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: relative; width: 100%; height: 10rem; padding: 0 3rem; -webkit-box-flex: 0; -ms-flex: none; flex: none; }
  header .sitemap.open .sitemap-header::before { position: absolute; left: 0; bottom: 0; width: 100%; height: 1px; background: #e1e1e1; content: ""; }
  header .sitemap.open .sitemap-header .logo { display: block; }
  header .sitemap.open .sitemap-header .logo a { background: url(../image/common/logo.png) no-repeat center; background-size: cover; }
  header .sitemap.open .sitemap-menu { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; height: 100vh; overflow: auto; -ms-touch-action: none; touch-action: none; overflow: hidden; }
  header .sitemap.open .sitemap-menu .sitemap-button { position: fixed; z-index: 3; }
  header .sitemap.open .sitemap-menu__inner > ul { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; height: 100%; margin-top: 0rem; padding-top: 0rem; background: #4e811f; }
  header .sitemap.open .sitemap-menu__inner > ul > li { display: -webkit-box; display: flex; display: -ms-flexbox; display: flex; position: relative; padding: 0rem; -webkit-box-flex: 0; -ms-flex: none; flex: none; }
  header .sitemap.open .sitemap-menu__inner > ul > li > a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; position: relative; width: 28%; height: 15rem; margin-bottom: 0; font-weight: 400; font-size: 2.8rem; background: #4e811f; color: #ffffff; }
  header .sitemap.open .sitemap-menu__inner > ul > li > a + .depth2 { position: fixed; top: 10rem; left: 28%; width: calc(100% - 28%); height: calc(100vh - 10rem); background: #ffffff; z-index: 1; }
  header .sitemap.open .sitemap-menu__inner > ul > li > a + .depth2 ul { padding: 2rem 20px 2rem 20px; }
  header .sitemap.open .sitemap-menu__inner > ul > li > a + .depth2 li + li { border-top: 1px solid #e1e1e1; }
  header .sitemap.open .sitemap-menu__inner > ul > li > a + .depth2 a { display: inline-block; width: 100%; padding: 4.1rem 0; font-size: 2.6rem; font-weight: 400; line-height: 100%; color: #000000; }
  header .sitemap.open .sitemap-menu__inner > ul > li > a::after { display: none; }
  header .sitemap.open .sitemap-menu__inner > ul > li > a::before { position: absolute; bottom: 0; left: 0; width: 100%; height: 1px; background: rgba(255, 255, 255, 0.3); z-index: 0; content: ""; }
  header .sns ul li { display: -webkit-box; display: flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  header .sns-blog a { width: 2.8rem !important; height: 2.8rem !important; background-size: 2.8rem !important; }
  header .sns-facebook a { width: 2.8rem !important; height: 2.8rem !important; background-size: 2.8rem !important; }
  header .sns-insta a { width: 2.8rem !important; height: 2.8rem !important; background-size: 2.8rem !important; } }

/* 메인 비주얼 */
.main_visual { position: relative; }

.main_visualTxt { position: absolute; top: 13rem; left: 50%; width: 140rem; -webkit-transform: translateX(-50%); transform: translateX(-50%); z-index: 2; }

.main_visualTxt h1 { font-size: 7rem; color: #fff; text-shadow: 2px 2px 15px black; }

.main_visualTxt h1 span { font-weight: 200; }

.section__inner { height: 100%; }

#section { height: 100%; }

#section1 { position: relative; background: url(../image/main/bg-section1.png) no-repeat center; background-size: cover; }

#section1 .text { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; height: calc(100% - 29.5rem); text-align: center; padding: 0 3rem; }

#section1 .text h1 { font-size: 6rem; color: #ffffff; line-height: 100%; text-shadow: 1px 1px 1.5rem rgba(0, 0, 0, 0.35); }

#section1 .text h1 br { display: none; }

#section1 .text h1 span { font-size: 6rem; font-weight: 200; }

#section1 .text p { margin-top: 3.4rem; font-size: 2.4rem; color: #ffffff; line-height: 100%; text-shadow: 1px 1px 1.5rem rgba(0, 0, 0, 0.45); }

#section1 .mousescroll__inner { position: absolute; left: 50%; bottom: 31rem; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

#section1 .mousescroll__inner img { -webkit-animation: Mouse_act 1s ease-out infinite; animation: Mouse_act 1s ease-out infinite; }

#section1 .mousescroll__inner .mouseswrap { display: -webkit-box; display: flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; position: relative; width: 3.3rem; height: 4.9rem; border: .2rem solid #ffffff; border-radius: 10rem; -webkit-box-shadow: 1px 1px 0.5rem rgba(0, 0, 0, 0.63); box-shadow: 1px 1px 0.5rem rgba(0, 0, 0, 0.63); }

#section1 .mousescroll__inner .mouseswrap::before { position: absolute; width: 100%; height: 100%; border-radius: 10rem; -webkit-box-shadow: inset 1px 1px 0.5rem rgba(0, 0, 0, 0.63); box-shadow: inset 1px 1px 0.5rem rgba(0, 0, 0, 0.63); content: ""; }

#section1 .mousescroll__inner .mouseswrap span { -webkit-box-shadow: 1px 1px 0.5rem rgba(0, 0, 0, 0.63); box-shadow: 1px 1px 0.5rem rgba(0, 0, 0, 0.63); }

#section1 .mousescroll__inner .mouseswrap > span { display: inline-block; width: .9rem; height: .9rem; margin-top: .7rem; border: .2rem solid #ffffff; border-radius: 100%; -webkit-animation: scroll-inner 1.5s; animation: scroll-inner 1.5s; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-timing-function: ease; animation-timing-function: ease; }

#section1 .mousescroll__inner .mouseswrap .arrow { position: absolute; bottom: 0; }

#section1 .mousescroll__inner .mouseswrap .arrow span { position: absolute; bottom: -1.7rem; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

#section1 .mousescroll__inner .mouseswrap .arrow span:nth-child(1) { width: .2rem; height: 2.5rem; background: #ffffff; }

#section1 .mousescroll__inner .mouseswrap .arrow span:nth-child(2) { width: 1rem; height: .2rem; background: #ffffff; -webkit-transform: rotate(45deg); transform: rotate(45deg); left: -.9rem; bottom: -1.2rem; }

#section1 .mousescroll__inner .mouseswrap .arrow span:nth-child(3) { width: 1rem; height: .2rem; left: -.1rem; bottom: -1.2rem; background: #ffffff; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

#section2 { background: url(../image/main/bg-section2.png) no-repeat center; background-size: cover; }

#section2 .tap_wrap { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

#section2 .banner { margin-left: 4rem; }

#section2 .banner__inner { position: relative; width: 30rem; }

#section2 .banner__inner .swiper-pagination { position: absolute; left: 50%; margin-top: 2rem; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

#section2 .banner__inner .swiper-pagination-bullet { width: 1.4rem; height: 1.4rem; margin: 0 .5rem; background: #c6c6c6; opacity: 1; }

#section2 .banner__inner .swiper-pagination-bullet-active { background: #5f9130; }

#section2 .tab-content { height: calc(100% - 5.1rem); }

#section2 > div, #section3 > div { max-width: 120rem; margin: 0 auto; }

#section2 .text, #section3 .text { text-align: center; }

#section2 .text .tit, #section3 .text .tit { font-size: 3.8rem; font-weight: 500; line-height: 100%; }

#section2 .text .txt, #section3 .text .txt { margin-top: 3rem; font-size: 2rem; line-height: 100%; }

#section3 { background: url(../image/main/bg-section3.png) no-repeat center; background-size: cover; }

#section4 { background: url(../image/main/bg-section4.png) no-repeat center; background-size: cover; }

.quickmenu__inner { bottom: 0; width: 100%; }

.quickmenu__inner > div { position: relative; height: 29.5rem; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; z-index: 1; }

.quickmenu__inner > div a { position: relative; display: block; width: 100%; height: 100%; padding-top: 7.5rem; background: rgba(0, 0, 0, 0.7); text-align: center; -webkit-transition: all .2s; transition: all .2s; z-index: 1; }

.quickmenu__inner > div a::before { position: absolute; right: 0; bottom: 5.1rem; width: 15rem; height: 1px; background: #ffffff; content: ""; }

.quickmenu__inner > div:nth-child(1) { background: url(../image/main/bg-quickmenu1.png); }

.quickmenu__inner > div:nth-child(2) { background: url(../image/main/bg-quickmenu2.png); }

.quickmenu__inner > div:nth-child(3) { background: url(../image/main/bg-quickmenu3.png); }

.quickmenu__inner > div:hover a { padding-top: 5.5rem; background: rgba(60, 113, 18, 0.9); -webkit-box-shadow: 0.5rem 0.5rem 3.5rem rgba(0, 0, 0, 0.52); box-shadow: 0.5rem 0.5rem 3.5rem rgba(0, 0, 0, 0.52); }

.quickmenu__inner > div:hover a::after { position: absolute; right: 4.2rem; bottom: 5.65rem; width: 1.3rem; height: 1px; background: #ffffff; content: ""; -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.quickmenu__inner > div:hover a::before { right: 4.2rem; }

.quickmenu__inner > div:hover .tit { font-size: 4rem; }

.quickmenu__inner > div:hover .txt { height: auto; visibility: visible; }

.quickmenu__inner > div:hover .outline span:nth-child(1) { width: 100%; }

.quickmenu__inner > div:hover .outline span:nth-child(2) { height: 100%; }

.quickmenu__inner > div:hover .outline span:nth-child(3) { width: 100%; }

.quickmenu__inner > div:hover .outline span:nth-child(4) { height: 100%; }

.quickmenu__inner .outline { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.quickmenu__inner .outline span { position: absolute; background: #ffffff; }

.quickmenu__inner .outline span:nth-child(1) { left: 0; top: 0; width: 0; height: 2px; -webkit-transition: all 0.1s; transition: all 0.1s; }

.quickmenu__inner .outline span:nth-child(2) { right: 0; top: 0; width: 2px; height: 0; -webkit-transition: all 0.1s linear 0.1s; transition: all 0.1s linear 0.1s; }

.quickmenu__inner .outline span:nth-child(3) { right: 0; bottom: 0; width: 0; height: 2px; -webkit-transition: all 0.1s linear 0.2s; transition: all 0.1s linear 0.2s; }

.quickmenu__inner .outline span:nth-child(4) { left: 0; bottom: 0; width: 2px; height: 0; -webkit-transition: all 0.1s linear 0.3s; transition: all 0.1s linear 0.3s; }

.quickmenu__inner .tit { font-size: 3.5rem; font-weight: 500; color: #ffffff; }

.quickmenu__inner .txt { position: relative; height: 0; padding-top: 4.5rem; font-size: 2.2rem; line-height: 3.4rem; color: #ffffff; visibility: hidden; }

.quickmenu__inner .txt::before { position: absolute; top: 2.3rem; left: 50%; width: 3rem; height: 1px; background: #ffffff; content: ""; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

@-webkit-keyframes scroll-inner { from { margin-top: 15%; }
  to { margin-top: 50%; } }

@keyframes scroll-inner { from { margin-top: 15%; }
  to { margin-top: 50%; } }

@-webkit-keyframes Mouse_act { 0% { -webkit-transform: translateY(5px); transform: translateY(5px); }
  50% { -webkit-transform: translateY(-5px); transform: translateY(-5px); }
  100% { -webkit-transform: translateY(5px); transform: translateY(5px); } }

@keyframes Mouse_act { 0% { -webkit-transform: translateY(5px); transform: translateY(5px); }
  50% { -webkit-transform: translateY(-5px); transform: translateY(-5px); }
  100% { -webkit-transform: translateY(5px); transform: translateY(5px); } }

/* section 2 */
.nav-tabs { border: none; }

.nav-tabs .nav-link { display: -webkit-box; display: flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 100%; color: #555555; padding: 0; padding-left: 3rem; border: none; border-radius: 0; background: #e0e0e0; font-size: 1.8rem; font-weight: 400; }

.nav-tabs .nav-link.active { background: #4e811f !important; color: #ffffff; font-weight: 500; }

.nav-tabs .nav-item { margin: 0; }

.nav-item { width: 19rem; max-width: 19rem; height: 5.1rem; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.nav-item + li:not(.nav-plus) { border-left: 1px solid #ffffff; }

.nav-plus { display: -webkit-box; display: flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-left: auto; }

.nav-plus a { width: 2.1rem; height: 2.1rem; margin-left: 2rem; font-size: 1.6rem; line-height: 100%; color: #555555; text-decoration: underline; background: url(../image/main/icon-plus.png) no-repeat center; }

.nav-plus a:hover { text-decoration: underline; }

.tab-content .tab-pane { height: 100%; background: #ffffff; }

.tab-content .tab-pane .notice { height: 100%; }

.tab-content .tab-pane .notice__inner { height: 100%; padding: 0 4rem; }

.tab-content .tab-pane .notice-item .tit { overflow: hidden; text-overflow: ellipsis; line-height: 2.3rem; height: 2.3rem; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; font-size: 1.8rem; color: #333333; }

.tab-content .tab-pane .notice-item .date { font-size: 1.4rem; color: #555555; line-height: 100%; }

.tab-content .tab-pane .notice-item.first { width: 31rem; -webkit-box-flex: 0; -ms-flex: none; flex: none; margin-right: 3rem; }

.tab-content .tab-pane .notice-item.first a .tit { height: 6rem; font-size: 2.4rem; font-weight: 500; line-height: 3rem; -webkit-line-clamp: 2; }

.tab-content .tab-pane .notice-item.first a .txt { overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; -webkit-line-clamp: 5; font-size: 1.6rem; line-height: 2.5rem; height: 12.5rem; margin-top: 2rem; }

.tab-content .tab-pane .notice-item.first a .date { margin-top: 2rem; }

.tab-content .tab-pane .notice-item.other { margin-top: -1rem; }

.tab-content .tab-pane .notice-item.other > div + div { border-top: 1px solid #d4d8db; }

.tab-content .tab-pane .notice-item.other a { display: -webkit-box; display: flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 6.5rem; }

.tab-content .tab-pane .notice-item.other .tit { color: #333333; }

.tab-content .tab-pane .notice-item.other .date { margin-left: 5rem; }

.tab-content .tab-pane .photo, .tab-content .tab-pane .video { height: 100%; }

.tab-content .tab-pane .photo__inner, .tab-content .tab-pane .video__inner { height: 100%; padding: 4rem; }

.tab-content .tab-pane .photo__inner .img-wrap, .tab-content .tab-pane .video__inner .img-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; max-width: 24.5rem; height: 18.3rem; overflow: hidden; }

.tab-content .tab-pane .photo__inner .img-wrap img, .tab-content .tab-pane .video__inner .img-wrap img { max-width: 100%; max-height: 100%; }

.tab-content .tab-pane .photo__inner .title, .tab-content .tab-pane .video__inner .title { margin-top: auto; font-size: 2rem; font-weight: 500; }

.tab-content .tab-pane .photo-item, .tab-content .tab-pane .video-item { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; padding: 0 1.2rem; }

.tab-content .tab-pane .photo-item > a, .tab-content .tab-pane .video-item > a { display: -webkit-box; display: flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; height: 100%; }

.tab-content .tab-pane .photo-item-wrap, .tab-content .tab-pane .video-item-wrap { display: -webkit-box; display: flex; display: -ms-flexbox; display: flex; height: 100%; margin: 0 -1.2rem; }

.tab-content .tab-pane .video-item > a:hover .img-wrap { position: relative; -webkit-transition: all .2s; transition: all .2s; }

.tab-content .tab-pane .video-item > a:hover .img-wrap::before { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(../image/main/bg-video.png) no-repeat center; content: ""; }

.mousescroll__inner { position: absolute; left: 50%; bottom: 1.9rem; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

.mousescroll__inner img { -webkit-animation: Mouse_act 1s ease-out infinite; animation: Mouse_act 1s ease-out infinite; }

/* section3 */
.main-counter { width: 100%; }

.main-counter__inner { -webkit-box-shadow: 0.3rem 0.3rem 1.5rem rgba(0, 0, 0, 0.15); box-shadow: 0.3rem 0.3rem 1.5rem rgba(0, 0, 0, 0.15); }

.main-counter__inner > div { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; position: relative; height: 36rem; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; background: #ffffff; }

.main-counter__inner > div + div::before { position: absolute; left: 0; width: 1px; height: calc(100% - 11.3rem); background: #dddddd; content: ""; }

.main-counter__inner .img-wrap img { width: 14rem; height: 14rem; }

.main-counter .counter-data { margin-top: 3rem; }

.main-counter .counter-tit { text-align: center; font-weight: 500; }

.main-counter .counter-num { margin-top: 1.5rem; text-align: center; }

.main-counter .counter-num p { display: inline-block; font-size: 4.5rem; font-weight: 600; }

.main-counter .counter-num span { padding-left: .5rem; font-size: 2.4rem; font-weight: 600; }

/* section4 */
.section4 .text { color: #ffffff; text-align: center; }

.section4 .text .tit { font-size: 5.2rem; font-weight: 500; }

.section4 .text .txt { margin-top: 4.5rem; font-size: 2.2rem; font-weight: 200; line-height: 3.6rem; }

.section4 .newsletter-area { max-width: 85rem; width: 100%; }

.section4 .newsletter-area__inner { margin-top: 4.5rem; }

.section4 .newsletter-box { padding: .4rem; background: -webkit-gradient(linear, left top, right top, from(#8dda4e), to(#63b023)); background: linear-gradient(90deg, #8dda4e, #63b023); -webkit-box-shadow: 1.6rem 1.6rem 3.6rem rgba(0, 0, 0, 0.28); box-shadow: 1.6rem 1.6rem 3.6rem rgba(0, 0, 0, 0.28); }

.section4 .newsletter-box input { width: 100%; height: 7.2rem; padding-left: 0; border: none; font-size: 2.2rem; text-indent: 3rem; border-radius: 0; }

.section4 .newsletter-box input::-webkit-input-placeholder { color: #434a5c; }

.section4 .newsletter-box input:-ms-input-placeholder { color: #434a5c; }

.section4 .newsletter-box input::-ms-input-placeholder { color: #434a5c; }

.section4 .newsletter-box input::placeholder { color: #434a5c; }

.section4 .newsletter-box button { width: 14rem; height: 7rem; font-size: 2.4rem; color: #ffffff; -webkit-box-flex: 0; -ms-flex: none; flex: none; }

.section4 .newsletter-des { margin-top: 6rem; padding: 5rem 3rem; background: #5f9130; font-size: 1.8rem; font-weight: 200; color: #ffffff; text-align: center; line-height: normal; }

#fp-nav li:last-child { display: none; }

.fp-viewing-secondPage #fp-nav ul::before, .fp-viewing-thirdPage #fp-nav ul::before { background: #999999; }

.fp-viewing-secondPage #fp-nav ul li .fp-tooltip, .fp-viewing-thirdPage #fp-nav ul li .fp-tooltip { color: #999999; opacity: 1; }

.fp-viewing-secondPage #fp-nav ul li a span, .fp-viewing-thirdPage #fp-nav ul li a span { background: #999999; }

.fp-viewing-secondPage #fp-nav ul li a.active span, .fp-viewing-thirdPage #fp-nav ul li a.active span { background: #000000; outline-color: rgba(0, 0, 0, 0.25); }

.fp-viewing-secondPage #fp-nav ul li a.active + .fp-tooltip, .fp-viewing-thirdPage #fp-nav ul li a.active + .fp-tooltip { color: #000000; }

.fp-viewing-footer #fp-nav { display: none; }

.fp-viewing-footer .mousescroll { display: none; }

#fp-nav { z-index: 0; }

/*=================================================================================================
============================================ responsive ========================================
================================================================================================*/
@media screen and (max-width: 1200px) { #section2 { padding: 0 3rem; }
  #section3 { padding: 0 3rem; } }

@media screen and (max-width: 900px) { #section2 { height: auto !important; padding-top: 7rem; padding-bottom: 15rem; }
  #section2 .board-wrap { -ms-flex-wrap: wrap; flex-wrap: wrap; margin-top: 6rem; }
  #section2 .banner { width: 100%; margin-left: 0; margin-top: 2rem; }
  #section2 .banner__inner { width: 100%; }
  #section2 .banner__inner .swiper-slide a { display: block; width: 100%; }
  #section2 .banner__inner .swiper-slide a img { display: block; margin: 0 auto; }
  .mousescroll { display: none; } }

@media screen and (max-width: 720px) { #section2 { padding-left: 0; padding-right: 0; }
  #section3 { padding-left: 0; padding-right: 0; }
  #section1 .text h1 { line-height: normal; }
  #section1 .text h1 br { display: block; }
  #section1 .text p { line-height: normal; }
  #section2 .tab-content .tab-pane .notice__inner { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding: 3rem 4rem; }
  #section2 .tab-content .tab-pane .notice-item.first { width: 100%; margin-right: 0; }
  #section2 .tab-content .tab-pane .notice-item.other { margin-top: 2rem; }
  #section2 .banner__inner { height: auto; }
  #section2 .banner__inner .swiper-container { height: 100%; }
  #section2 .banner__inner .swiper-slide a { height: 100%; }
  #section2 .banner__inner .swiper-slide a img { width: 100%; }
  #section4 .newsletter-des { line-height: 3rem; }
  .section:not(:first-child) > div { padding: 0 3rem; }
  .quickmenu__inner div > a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding-top: 0rem; padding-left: 1rem; padding-right: 1rem; }
  .quickmenu__inner div > a::before, .quickmenu__inner div > a::after { display: none; }
  .quickmenu__inner div .txt { display: none; visibility: visible; }
  .quickmenu__inner div .txt br { display: none; }
  .tab-content .tab-pane .notice__inner { padding: 4rem; }
  .tab-content .tab-pane .notice-item.first a { font-size: 1.8rem; }
  .tab-content .tab-pane .notice-item.first a .tit { height: 7rem; line-height: 3.5rem; }
  .tab-content .tab-pane .notice-item.first a .txt { font-size: 1.8rem; line-height: 3.2rem; height: 6.5rem; -webkit-line-clamp: 2; }
  .tab-content .tab-pane .notice-item .tit { height: 2.8rem; line-height: 2.8rem; }
  .tab-content .tab-pane .notice-item .date { font-size: 1.8rem; } }
