/* footer */ 

/* main footer */ 
.section{
    .footer{
        &__inner{
            margin-top: 0;
        }
    }
}

.footer{
    background: #19250e;
    &__inner{
        max-width: 140rem;
        margin: 0 auto;
        margin-top: 10rem;
        padding:4.5rem 0;
        
    }
    &-img{
        margin-right: 6rem;
        a{
            display: inline-block;
            width:12rem;
            height:7rem;
            background: url(../image/common/logo-white.png) no-repeat center;
            background-size: cover;
        }
    }
    &-txt{
        *{
            line-height: 2.4rem;
            font: {
                size: 1.5rem;
                weight:200;
            }
            color:#ffffff;
        }
        span{
            display: inline-block;
            margin-right: 1rem;
        }
    }
}


/*=================================================================================================
============================================ responsive ========================================
================================================================================================*/ 

@media screen and(max-width:720px){
    .footer{
        &__inner{
            padding-left:3rem;
            padding-right:3rem;
        }
    }
}